.hidden {
	display: none;
}

.block {
	display: block;
}

.navbar {
	margin-bottom: 0;
}

.btn {
	margin-bottom: 10px;
}

.btn-group>.btn {
	border-radius: 4px;
}

.btn-group
>
.btn


:not

 

(
:first-child

 

)
{
margin-left


:

 

10
px


;
}
#page-content {
	padding: 20px;
}

.box>form {
	margin-bottom: 0px;
}

.inline-form {
	margin: 0;
}

.inline-form>li {
	display: inline-block;
}

.inline-form
>
li


:not

 

(
:first-child

 

)
{
margin-left


:

 

20
px


;
}
.edit, .delete, .stats-icon, .route-icon, .win, .loss {
	width: 30px;
}

.delete-item, .edit-item, .stats-icon, .route-icon, .error-icon,
	.warning-icon, .info-icon, .win, .loss {
	padding: 0;
	margin-right: 8px;
	height: 24px;
	width: 24px;
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
}

table.table tbody td[data-grid-property="edit"], table.table tbody td[data-grid-property="delete"]
	{
	width: 30px;
}

.delete-item {
	background-image: url("../images/delete.png");
}

.win {
	background-image: url("../images/win.png");
}

.loss {
	background-image: url("../images/loss.png");
}

.stats-icon {
	background-image: url("../images/stats.png");
}

.error-icon {
	background-image: url("../images/error.png");
}

.warning-icon {
	background-image: url("../images/warning.png");
}

.info-icon {
	background-image: url("../images/info.png");
}

.stats-icon:hover {
	background-image: url("../images/stats-hover.png");
	cursor: pointer;
}

.route-icon {
	background-image: url("../images/route.png");
}

.route-icon:hover {
	background-image: url("../images/route-hover.png");
}

.delete-item:hover {
	background-image: url("../images/delete-hover.png");
}

.edit-item {
	background-image: url("../images/edit.png");
}

.edit-item:hover {
	background-image: url("../images/edit-hover.png");
}

/* table.table { */
/* 	border: 0; */
/* 	border-collapse: separate; */
/* 	text-align: left; */
/* 	width: 100%; */
/* } */

/* /* table header */
* /
	/* table.table thead tr { */
	/* 	background-color: transparent; */
	/* 	color: #000; */
	/* } */  

table.table thead tr th {
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid;
	vertical-align: middle;
	padding: 0;
	height: 30px;
}

table.table thead tr th a {
	color: #000;
	background: transparent;
	padding-left: 0;
	background-image: none;
}

/* table.table tbody tr td { */
/* 	border: 0; */
/* 	height: 26px; */
/* 	vertical-align: middle; */
/* } */

/* indent first column to align it with grid header */
table.table thead tr th:first-child, table.table tbody tr td:first-child
{
	padding-left: 15px;
}

table.table tbody tr td {
	vertical-align: middle;
}

div.innerbox div.btn-group {
	padding-left: 8px;
	padding-top: 8px;
}

div.innerbox div.well div.btn-group {
	padding-left: 0;
}

/* no padding for inner box */
div.innerbox div.panel-body {
	padding: 0;
}

/* padding for inline fieldset label */
fieldset.form-inline label {
	padding-right: 15px;
}

div.modal-body table tbody tr td, div.modal-body table thead tr th {
	background-color: white;
}

/* modal dialog */
td.stats div.modal {
	padding: 0;
	font-size: 10pt;
}

td.stats div.modal td {
	height: 10pt;
}

.navbar-inverse .nav>li.main>a {
	font-weight: bold;
}

select.form-control, input.form-control {
	margin-bottom: 15px;
}

div.innerbox div.well {
	margin: 15px;
}

input[name="penalized"] {
	margin-left: 10px;
}

input[name="filterInactive"] {
	margin-right: 8px;
}

.modal-dialog {
	width: 50%
}

ul.nobullets {
	list-style: none;
	padding-left: 0;
	margin: auto;
}

div.tablebox div.panel-body
{
	padding: 0;
}

/* Login */
div.palette {
	display: block !important;
}

.form-signin {
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}