@CHARSET "UTF-8";

.box
{
	margin-bottom: 10px;
}

.panel {
	background: rgba(255, 255, 255, 0.75);
}

/* do not change anything for boxes, which only contain text */
.tablebox .panel-body:not(:empty){
	padding: 0;
}

.tablebox table.table
{
	margin-bottom: 0;
}

.box .pagination
{
	margin: 20px;
}

.innerbox .panel-body {
	background: rgba(255, 255, 255, 0.35);
}