/target
bbstats-web/.settings/.jsdtscope
bbstats-web/.settings/org.eclipse.m2e.wtp.prefs
bbstats-web/.settings/org.eclipse.wst.common.component
bbstats-web/.settings/org.eclipse.wst.common.project.facet.core.xml
bbstats-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
bbstats-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
bbstats-web/.settings/org.eclipse.wst.validation.prefs
bbstats-web-assembly/.settings/.jsdtscope
bbstats-web-assembly/.settings/org.eclipse.jdt.core.prefs
bbstats-web-assembly/.settings/org.eclipse.m2e.core.prefs
bbstats-web-assembly/.settings/org.eclipse.m2e.wtp.prefs
bbstats-web-assembly/.settings/org.eclipse.wst.common.component
bbstats-web-assembly/.settings/org.eclipse.wst.common.project.facet.core.xml
bbstats-web-assembly/.settings/org.eclipse.wst.jsdt.ui.superType.container
bbstats-web-assembly/.settings/org.eclipse.wst.jsdt.ui.superType.name
bbstats-web-assembly/.settings/org.eclipse.wst.validation.prefs
bbstats-backend/.settings/org.eclipse.core.resources.prefs
bbstats-backend/.settings/org.eclipse.wst.common.component
bbstats-backend/.settings/org.eclipse.wst.common.project.facet.core.xml
bbstats-backend/.settings/org.eclipse.wst.validation.prefs
.settings/org.eclipse.jdt.core.prefs
bbstats-backend/.settings/org.eclipse.jdt.core.prefs
bbstats-web/.settings/org.eclipse.core.resources.prefs
bbstats-web/.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
bbstats-backend/.settings/org.eclipse.m2e.core.prefs
bbstats-web/.settings/org.eclipse.m2e.core.prefs
