@charset "UTF-8";

/***********************************************************************************************************************
 * Form elements: input fields, ...
 **********************************************************************************************************************/ 

/* Form widgets: textfield, textarea, drop-down-box, ... */
input[type="search"], input[type="text"], input[type="password"], textarea, select {
   border-width: 1px;
   border-style: solid;
/*    border-color: #7F9DB9; */
   border-color: #6F6F6F;
   margin-right: 10px;
   margin-bottom: 10px;
   background-image: url("../images/form/edit-background.png");
   background-repeat: repeat-x;
   background-color: #fff;
   padding-top: 2px;
   padding-bottom: 2px;
   width: inherit;
   resize: none;
}

/* mark current active input field */
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus  {
   border-width: 1px;
   border-color: #7F9DB9;
   border-style: solid;
}

select {
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
}

label, .label {
    display: block;
    margin-right: 5px;
    margin-bottom: 3px;
    font-weight: normal;
    text-align: left;
    color: #3F3F3F; 
}

.view-mode label,
.view-mode .label {
	display: inline;
}

.text-value {
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

/* label for radio and checkboxes should be in one line ('+' not IE comp) */
input[type="radio"] + label,
input[type="checkbox"] + label {
    display: inline;
}

/***********************************************************************************************************************
 * disabled/readonly
 **********************************************************************************************************************/ 
 
/* disabled input fields (text) */
input[type][disabled] {
   background-image: none;
   background-color: #7A7C86;
   color: transparent;
}

/* display labels as disabled ('+' not IE comp) */
input[type=radio][disabled] + label,
input[type=checkbox][disabled] + label,
.disabled
{
	color: #afafaf;
}

/* ie background fix */
input[type=radio][disabled],
input[type=checkbox][disabled] {
    background-color: transparent;
}

/* read-only input fields */
input[type="text"][readonly], 
input[type="password"][readonly], 
textarea[readonly]
{
   background-image: none;
/*    background-color: #ccc; */
   background-color: #EFEFEF;
   border-color: #4d4d4f;
}


/***********************************************************************************************************************
 * date time fields
 **********************************************************************************************************************/ 

/***********************************************************************************************************************
 * date fields (input fields, entries)
 */
div.datetimefield {
	width: 170px; /*95px+10px+65px+10px*/
}

div.datefield {
	width: 95px;
	margin-right: 10px;
}

div.timefield {
    width: 65px;
}

div.datetimefield div.datefield,  
div.datetimefield div.timefield {
	float: left;
}  

div.entry div.datetimefield div.datefield input.ui-datepicker-input {
	width: 93px;
}

div.entry div.datetimefield div.timefield input.ui-timepicker-input {
	width: 63px;
}

/*  if inside a widt25 column use these declarations */
div.entry.width25 div.datefield {
    width: 160px;
} 
div.entry.width25 div.datetimefield div.datefield input.ui-datepicker-input {
	width: 158px;
}

.entry img.ui-datepicker-trigger, 
.ui-datepicker-trigger,
.ui-timepicker-trigger {
    cursor: pointer;
    margin-left: -30px;
    vertical-align: text-top;
}

/***********************************************************************************************************************
 * jquery-ui common overrides 
 */
.ui-timepicker-control.ui-menu .ui-menu-item a,
.ui-datepicker {
	font-size: 10pt; /* 1em does not work for jquery-ui */
}

.ui-widget {
	font-family: tahoma, arial, sans-serif;
	font-size: 10pt;
	background-color: #3F4853;
	background-image: none;
	background-image: -webkit-linear-gradient(top, #3F4853, #33393F);
	background-image: -moz-linear-gradient(top, #3F4853, #2F2F2F);
}

/***********************************************************************************************************************
 * jquery datepicker styling
 */
.ui-datepicker {
	width: 169px;
}

.ui-datepicker .ui-datepicker-header {
    background-color: #000000;
    background-image: url("../images/menu/menu.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 24px;
    padding: 0;
	display: block;
}

.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next {
	top: 0;
}

a.ui-datepicker-next, 
a.ui-datepicker-prev {
	background-image: none;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    background-color: transparent;
    background-image: none;
    border-width: 0;
}

/* selected day */
.ui-datepicker a.ui-state-active {
	background-color: #FFBA00;
    background-image: none;
    color: #BF6300;
    border-color: #d87102;
}

/***********************************************************************************************************************
 * time field, time picker
 */
/* add fixed height and scrollbar to the time-picker menu */
.ui-timepicker-control.ui-menu {
	max-height: 200px;
	overflow-y: auto;
}

ul.ui-menu .ui-menu-item a {
	background-image: none;
	padding-left: 3px;
}

.ui-timepicker-control.ui-menu .ui-menu-item, 
.ui-timepicker-control.ui-menu .ui-menu-item a,
.ui-timepicker-control.ui-menu #ui-active-menuitem {
	height: 20px;
	line-height: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.ui-timepicker-trigger-disabled {
	opacity: 0.5;
	filter:  alpha(opacity=50);
	cursor: pointer;
}

/***********************************************************************************************************************
 * Search fields
 **********************************************************************************************************************/

/* container for search-field and input-description */
.search-field {
	width: 600px;
	display: inline-block;
	margin-right: 10px;
}

/* Input field description text */
label.input-description {
   margin-top: -10px; /*compensates 10px margin from input*/
   margin-right: -5px; /*compensates 5px margin-right from label*/
   padding-top: 0.25em;
   padding-bottom: 0.25em;
   padding-left: 0.25em;
   padding-right: -0.25em;
   font-size: 0.8em;
   color: #CFCFCF; /*gray*/
   overflow: hidden;
   width: inherit;
}

/* search button*/
a.search {
	vertical-align: top;
}

/***********************************************************************************************************************
 * sidebar
 * used for view-edit pages
 **********************************************************************************************************************/
.sidebar {
	float: left;
	width: 260px;
}

.sidebar > a {
	line-height: 1.25em;
	padding-bottom: 0.25em;
}

.left-sidebar {
	margin-right: 10px;	
}

/***********************************************************************************************************************
 * button-bar
 * used for view-edit pages
 **********************************************************************************************************************/ 
.button-bar {
    display: block;
    padding-bottom: 5px;
    overflow: hidden;
}