@charset "UTF-8";

/***********************************************************************************************************************
 * tapestry grid, table styles
 **********************************************************************************************************************/ 

/* @Override tapestry defaults */
div.t-data-grid {
   font-family: tahoma, arial, sans-serif;
   text-align: left;
}

table.t-data-grid {
   border: 0;
   border-collapse: separate;
}

/* table header */
table.t-data-grid thead tr {
   background-color: transparent;
   color: #000;
}

table.t-data-grid thead tr th {
   border-right: 0;
   border-bottom: 1px solid #484a51;
   vertical-align: middle;
   padding: 0;
   height: 30px;
}

table.t-data-grid thead tr th a {
   color: #000;
   background: transparent;
   padding-left: 0;
}

table.t-data-grid thead tr th img.t-sort-icon {
   display: none;
}

/* table body */
table.t-data-grid tbody tr.t-first td {
   border-top: 1px solid #b0b1b1;
}


/* table inside table */
table .custom .details table tbody tr td {
	border: none;
}

table.t-data-grid tbody tr.line1 {
   background-image: url("../images/background-line1.png");
   background-repeat: repeat;
}

table.t-data-grid tbody tr td {
   border: 0;
   height: 26px;
   vertical-align: middle;
}

table.t-data-grid tbody tr.checked {
   background-image: url("../images/background-hover.png");
   background-repeat: repeat;
}

table.t-data-grid tbody tr td:first-child,table.t-data-grid thead tr th:first-child {
   padding-left: 10px;
}

table.t-data-grid thead tr th a:first-child {
   height: 9px;
   width: 9px;
   background-repeat: no-repeat;
   background-position: center right;
   padding-right: 11px;
}

table.t-data-grid thead tr th a:first-child:hover {
   color: #7F9DB9;
   background-image: url("../images/sort-asc-desc.png");
}

table.t-data-grid thead tr th a.t-sort-column-descending:first-child {
   background-image: url("../images/sort-desc.png");
}

table.t-data-grid thead tr th a.t-sort-column-ascending:first-child {
   background-image: url("../images/sort-asc.png");
}

/******************************************************************************
 * rowlink
 */ 
.row-link-hover {
	cursor: pointer;
	background-image: url("../images/background-hover.png");
	color: #fff;
}
