@CHARSET "UTF-8";

.box
{
	margin-bottom: 10px;
}

.box-title {
	position: relative;
	padding: 3px 7px;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #DDD;
	border-bottom: 0;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	*background-color: #0044cc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc),
		to(#0044cc) );
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:  DXImageTransform.Microsoft.gradient( 
	startColorstr=  '#ff0088cc', endColorstr=  '#ff0044cc', GradientType= 
	0 );
	filter: progid:  DXImageTransform.Microsoft.gradient(  enabled= 
	false );
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.box-body {
	padding: 10px;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	background: rgba(255, 255, 255, 0.75);
}

.tablebox .box-body {
	padding: 0px;
}

.innerbox .box-body {
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	background: rgba(255, 255, 255, 0.35);
}