@CHARSET "UTF-8";

.box
{
	margin-bottom: 10px;
}

.panel {
	background: rgba(255, 255, 255, 0.75);
}

.tablebox .panel-body {
	padding: 0px;
}

.innerbox .panel-body {
	background: rgba(255, 255, 255, 0.35);
}